nav {
  background: #333;
  display: flex;
  justify-content:space-between;
  padding: 1rem;
div{
  width: 100%;
  padding-left: 6%;
}
  ul {
    margin-bottom: 5px;
    color: white;
    padding-right: 13%;
    list-style: none;
    display: flex;
    justify-content: space-around;
  }

  li>a {
    color: white;
  }

  li:first-child {
    padding-right: 20px;
  }

  li a:hover {
    color: red;
  }

  li>a:active,
  li>a:focus,
  .active li>a:focus {
    color: green !important;
  }
}