<div class="d-flex justify-content-center">
    <div class="home">
        <h1>Welcome to My Portfolio</h1>
        <p>Hello! I'm Sathishkumar, a passionate angular with a knack for creating innovative and
            impactful solutions. With a background in Web, I have developed a diverse
            skill set that allows me to tackle a wide range of projects.

            This portfolio showcases my journey, highlighting key projects and accomplishments that reflect my expertise
            and dedication. Whether it's Web developer, my goal is to deliver high-quality work that meets and exceeds expectations.

            Feel free to explore my work, and don't hesitate to reach out if you'd like to collaborate or learn more
            about what I do. Thank you for visiting!</p>
    </div>
</div>